aiohttp>=3.7.4
asyncio==3.4.3
attrs==21.2.0
Augmentor==0.2.9
Automat==0.8.0
beautifulsoup4==4.10.0
git+https://github.com/Rapptz/discord.py.git
ffmpeg==1.4
ffmpeg-python==0.2.0
jsonpatch==1.32
jsonpointer==2.2
jsonschema==4.4.0
keep-alive==0.0.1
keepalive==0.1.1
lxml==4.8.0
opuslib==3.0.1
PyNaCl==1.4.0
requests==2.27.1
youtube-dl==2021.12.17
yt-dlp==2022.3.8.2
